<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Удаление записи</title>
</head>
<body>
{% extends "records/base.html" %}
{% block content %}
    <form method="post">{% csrf_token %}
        <p>
            Вы точно хотите удалить запись
            <em>"{{ record.title }}"</em>?
            дата создания {{ record.date_created|date:'d.m.Y' }}
        </p>
        <input class="btn btn-primary" type="submit" value="Удалить">
    </form>
    <a href="{% url 'record-detail' record.id %}">
        <button type="button" class="btn btn-outline-dark">Отмена</button>
    </a>
{% endblock %}
</body>
</html>