<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
</head>
<body>
{% extends "records/base.html" %}

{% block content %}

    <article>
    <h2>{% now "d.m.Y H:i" %}</h2>
    <a href="{% url 'record-create' %}"><button type="button" class="btn btn-dark">Создать запись</button></a>

    </article>
    <br>
    {% for record in record_list %}
        <article>
            <h2 class="{{ record.date_created|date:'l' }}">
                {{ record.date_created|date:'d.m.Y H:i' }}
            </h2>
            <h3>
                <a href="{% url 'record-detail' record.id %}">
                    {{ record.title }}
                </a>
            </h3>
        </article>
    {% endfor %}
    <div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">

        <p>
            Похоже, здесь больше нет записей...
        </p>
        <p>
            <a href="#">Вернуться наверх</a>
        </p>

  </footer>
</div>
{% endblock %}


</body>
</html>
