{% extends 'records/base.html' %}

{% block content %}
<h2>Восстановление пароля админ аккаунта</h2>
<p>Письмо будет отправлено на почту Администратора. Если это вы - перейдите по ссылке восстановления в письме.</p>
p.s. почта администратора - admin@yandex.ru
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Сбросить">
</form>

<a href="{% url 'record-list' %}"><button type="button" class="btn btn-outline-dark">Назад на главную</button></a>
{% endblock %}